section {
    height: 100vh;
    padding-top: 8rem;
  }
  
  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th:nth-child(4),
  thead th:nth-child(6) {
    width: 20%;
  }
  
  tbody tr:nth-child(odd) {
    background: var(--table-color-one);
  }
  
  tbody tr:nth-child(even) {
    background: var(--table-color-two);
  }
  
  tbody td,
  thead th {
    text-align: center;
    padding: 1rem;
  }